* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper.image-wrapper.bg-image.bg-cover.bg-height {
    background-image: url('https://i.328888.xyz/2023/04/24/iolVJy.jpeg');
    text-align: center;
    position: static;
    display: block;
    float: none;
    height: 780px;
}

.c7015 {
    width: 170px;
}